<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Design landing page.">
    <meta name="author" content="Devcrud">
    <title>RideApp</title>
    <link href="../imgs/logo.png" rel="icon">

    <!-- font icons -->
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Creative Design main styles -->
	<link rel="stylesheet" href="../css/style.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- Page Navbar -->
    <nav id="scrollspy" class="navbar page-navbar navbar-light navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#home"><strong class="text-primary">Ride</strong> <span class="text-dark">App</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                   


                </ul>
            </div>
        </div>
    </nav><!-- End of Page Navbar -->   

    <div class="container">
      <div class="col-sm-6 col-sm-offset-3" style="margin-top: 100px;">
       <h2>Registration</h2>
    
       <% if(message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div> 
       <% } %>
    
       <form action="/signup" method="post">
        <div class="form-group">
            <label>Nom Complet</label>
            <input type="text" class="form-control" name="fullname">
           </div>
        <div class="form-group">
         <label>Mail</label>
         <input type="email" class="form-control" name="username">
        </div>
        <div class="form-group">
         <label>Mot De Passe</label>
         <input type="password" class="form-control" name="password">
        </div>
    
        <button type="submit" class="btn btn-succcess btn-lg">Sauvegarder</button>
       </form>
    
       <hr>
       <p>Already have an account? <a href="/login">Login</a></p>
       <p>Back to Home. <a href="/">Accueil</a></p>
      </div>
     </div>

    <!-- core  -->
    <script src="../config/passeport.js"></script>
    <script src="vendors/jquery/jquery-3.4.1.js"></script>
    <script src="vendors/bootstrap/bootstrap.bundle.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="node_modules/mysql/index.js"></script>
    
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBi3tzwp-NeXzn1VssiiooacnFLlata9Y0"></script>

    <!-- bootstrap affix -->
    <script src="vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Creative Design js -->
    <script src="../js/index.js"></script>

</body>
</html>
